<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
	    <div class="sidebar">

	    	{% for category in site.categories %}

	    	  	<div class="lead-cat" name="{{ category | first }}">{{ category | first | replace: '-',' '}}</div>
	    	    <ul>
	    	    {% assign sorted_posts = site.posts | sort: 'order' %}
	    	    {% for posts in category[0] %}
		    	    {% for post in sorted_posts %}
			    	    {% if post.categories contains category[0] %}
				  	      	 {% if post.url %}
				  	        	<li><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></li>
				  	         {% endif %}
				  	     {% endif %}
		    	    {% endfor %}
	    	    {% endfor %}
	    	    </ul>
	    	{% endfor %}
			</div>


      <div class="content">
      	{{ content }}
  		</div>

      

    </section>
    {% include page-footer.html %}
  </body>
</html>
